@media (max-width: 1000px){
    .projects{
        display: none;
    }

    .about{
        margin-top: 30%;
    }

    .aboutMe{
        padding: 15px 3px;
        width: 40vw;
    }

    .me img{
        display: none;
    }
    .mocup img{
        display: none;
    }

    .findMe{
        position: absolute;
        top: 70vh;
       }

    .icons img{
        filter: none;
        width: 8vw;
    } 
    
    .projectImg img {
        width: 23rem;
    }
        
}

